:root{
    box-sizing: border-box;
    height:100%;
    --bgmain:rgb(34, 30, 30);
    --bgform:rgb(52, 49, 49);
    --greentext:rgb(5, 183, 5);
}
*{
    margin:0;
    padding:0;
    font-family: textFont;
}
html, body{min-height:100%;}
body{
    height:100vh;
    display:flex;
}

.sidebar{
    background-image: url(images/pixel-art.gif);
    background-size: cover;
    background-repeat: no-repeat;
    flex:2;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.main{
    flex:3;
    background-color:var(--bgmain);
    display:flex;
    flex-direction: column;
}

.main>*{
    flex:1;
    padding-left: 2rem;
}
@font-face {
    font-family: textFont;
    src: url(MerchantCopy.ttf);
}
.main>p{
    font-size: 1.8rem;
    display: flex;
    align-items: flex-end;
    padding-bottom: 5rem;
    padding-top: 4rem;
    line-height: 1.4rem;
    width: 45rem;
    color: var(--greentext);
    margin-bottom: 3rem;
    margin-top: 1rem;
    }
.form{
    padding-left: 0;
}
fieldset{
    background-color: var(--bgform);
    font-size: 1.6rem;
    padding-left: 2rem;
    border: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.container{
    /* border: solid blue; */
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    width: 25rem;
    gap:4rem;
    row-gap: 1rem;
}

.container>div{
    display: flex;
    flex-direction: column;
}

label{
    font-weight:100;
    color: rgb(219, 219, 219);
}
input{
    width: 10rem;
    border-radius: 0.3rem;
    font-size: 2rem;
    background-color: var(--bgmain);
}
input:focus{
    border: blue solid;
    box-shadow: 1rem;
}
input:not(:placeholder-shown):invalid{
    background-color: rgba(255, 0, 0, 0.567);
}
input:not(:placeholder-shown):valid{
    background-color: rgba(2, 183, 2, 0.541);
}
button{
    font-size: 2.2rem;
    border-radius: 0.3rem;
    padding: 0.2rem 2rem;
    color: var(--greentext);
    border: var(--greentext) solid 0.2rem;
    margin: 3rem 2rem;
}
.login{
    font-size: 1.5rem;
    color: white;
}

img{
    height: 20rem;
    left: calc(50%-114.28px);
    position: absolute;
}
@font-face {
    font-family: titleFont;
    src: url(captionfont.TTF);
}

.sidebar>div{
    font-size: 3rem;
    font-family: titleFont;
    text-align: center;
    margin-top: 12rem;
    color: rgba(255, 192, 203, 0.821)
}

fieldset>h2{
    color: rgb(212, 213, 213);
    font-weight: 200;
}
